app-real-estates-attachments {
  .p-fileupload-content {
    p-progressbar {
      display: none;
    }
    p-message {
      display: none;
    }
  }

  .attachment-type {
    font-size: 3rem;
  }
}
