@switch (attachmentType) {
  @case ('pictures') {
    @if (file) {
      <p-image [src]="file.objectURL" alt="Image" width="150" [preview]="true" />
    }
  }
  @case ('documents') {
    <i [class]="PrimeIcons.FILE_PDF"
       class="attachment-type text-blue-600"></i>
  }
  @case ('videos') {
    @if (file) {
      <video controls
             style="max-width: 200px">
        <source [src]="file.objectURL"
                type="video/mp4"/>
        <i [class]="PrimeIcons.VIDEO"
           class="attachment-type text-blue-600"></i>
      </video>
    }
  }
}
