@switch (attachmentType) {
  @case ('pictures') {
    @if (file) {
      <p-image [src]="file.objectURL"
               width="150"
               alt="Image"
               [preview]="true"/>
    }
  }
  @case ('documents') {
    @if (file) {
      <div (click)="openPdfInDialog(file)"
           class="relative cursor-pointer pdf-container">
        <object class="real-estates-media-document"
                [title]="file.name"
                [data]="file.safeURL ? file.safeURL : file.objectURL"
                type="application/pdf">
          <i [class]="PrimeIcons.FILE_PDF"
             class="attachment-type text-blue-600"></i>
        </object>
      </div>
    }
  }
  @case ('videos') {
    @if (file) {
      <video controls
             class="real-estates-media-video">
        <source [src]="file.objectURL"
                type="video/mp4"/>
        <i [class]="PrimeIcons.VIDEO"
           class="attachment-type text-blue-600"></i>
      </video>
    }
  }
}

<p-dialog [(visible)]="showPdfInDialog"
          [maximizable]="true"
          [modal]="true"
          [style]="{ width: '80vw', height: '80vh' }"
          (onHide)="selectedFile = undefined"
          appendTo="body"
          [header]="selectedFile ? selectedFile.name : ''">
  <ng-template #content>
    @if (selectedFile) {
      <object [title]="selectedFile.name"
              [data]="selectedFile.safeURL ? selectedFile.safeURL : selectedFile.objectURL"
              type="application/pdf"
              class="w-full h-full">
        <i [class]="PrimeIcons.FILE_PDF"
           class="attachment-type text-blue-600"></i>
      </object>
    }
  </ng-template>
</p-dialog>
