ks-real-estates-media {
  .attachment-type {
    font-size: 3rem;
  }

  .p-image-rotate-left-button, .p-image-rotate-right-button, {
    display: none;
  }

  .real-estates-media-document {
    width: 100%;
    height: 160px;
  }

  .real-estates-media-video {
    max-width: 200px;
  }

  .pdf-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .pdf-container:hover::after {
    opacity: 1;
  }
}
