<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">{{ 'auth.personal_information' | translate }}</p-tab>
    <p-tab value="1">{{ 'common.security' | translate }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div [ngClass]="{'flex justify-center': isLoading}" class="space-y-4 w-full">
        @if (isLoading) {
          <p-progress-spinner ariaLabel="loading" />
        } @else {
          <form [formGroup]="userForm" (ngSubmit)="onSavePersonalInfo()">
            <div class="mb-4">
              <label for="lastName" class="block">{{ 'common.last_name' | translate }}</label>
              <input class="mt-1 p-2 w-full"
                     formControlName="lastName"
                     pInputText
                     id="lastName"
                     [placeholder]="'common.last_name' | translate"
                     type="text">
              @if (userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched) {
                <div class="text-red-500 text-sm">{{ 'common.last_name_required' | translate }}</div>
              }
            </div>

            <div class="mb-4">
              <label for="firstName" class="block">{{ 'common.first_name' | translate }}</label>
              <input class="mt-1 p-2 w-full"
                     formControlName="firstName"
                     pInputText
                     id="firstName"
                     [placeholder]="'common.first_name' | translate"
                     type="text">
              @if (userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched) {
                <div class="text-red-500 text-sm">{{ 'common.first_name_required' | translate }}</div>
              }
            </div>

            <div class="mb-4">
              <label class="block">{{ 'common.gender' | translate }}</label>
              <p-selectbutton [options]="sexOptions"
                              formControlName="sex"
                              id="sex"/>
            </div>

            <div class="mb-4">
              <label for="email" class="block">{{ 'common.email' | translate }}</label>
              <input class="mt-1 p-2 w-full"
                     formControlName="email"
                     pInputText
                     id="email"
                     [placeholder]="'common.email' | translate"
                     type="email">
              @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
                <div class="text-red-500 text-sm">{{ 'common.email_required' | translate }}</div>
              }
            </div>

            <div class="mt-6 flex">
              <p-button [disabled]="userForm.invalid"
                        class="ml-auto"
                        type="submit">
                {{ 'common.save' | translate }}
              </p-button>
            </div>
          </form>
        }
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      <div [ngClass]="{'flex justify-center': isLoading}" class="space-y-4 w-full">
        @if (isLoading) {
          <p-progress-spinner ariaLabel="loading" />
        } @else {
          <form [formGroup]="securityForm" (ngSubmit)="onSaveSecurityInfo(validateSecurityFormButton)">
            <div class="mb-4">
              <label for="username" class="block">{{'auth.username' | translate}}</label>
              <input [placeholder]="'security.enter_new_username' | translate"
                     class="mt-1 block w-full "
                     formControlName="username"
                     id="username"
                     pInputText
                     type="text"/>
              @if (securityForm.get('username')?.invalid && securityForm.get('username')?.touched) {
                <div class="text-red-500 text-sm">{{'security.username_required' | translate}}</div>
              }
            </div>

            <div class="mb-4">
              <label for="currentPassword" class="block">{{'security.current_password' | translate}}</label>
              <p-password [placeholder]="'security.enter_current_password' | translate"
                          [toggleMask]="true"
                          class="mt-1"
                          formControlName="currentPassword"
                          id="currentPassword"
                          inputStyleClass="w-full"
                          styleClass="w-full"/>
              @if (securityForm.get('currentPassword')?.invalid && securityForm.get('currentPassword')?.touched) {
                <div class="text-red-500 text-sm">{{'security.current_password_required' | translate}}</div>
              }
            </div>

            <div class="mb-4">
              <label for="newPassword" class="block">{{'security.new_password' | translate}}</label>
              <p-password [placeholder]="'security.enter_new_password' | translate"
                          [toggleMask]="true"
                          class="mt-1"
                          formControlName="newPassword"
                          id="newPassword"
                          inputStyleClass="w-full"
                          styleClass="w-full"/>
              @if (securityForm.get('newPassword')?.invalid && securityForm.get('newPassword')?.touched) {
                <div class="text-red-500 text-sm">{{'security.new_password_required' | translate}}</div>
              }
            </div>

            <div class="mb-4">
              <label for="confirmPassword" class="block">{{'security.new_password_confirmation' | translate}}</label>
              <p-password [placeholder]="'security.confirm_new_password' | translate"
                          [toggleMask]="true"
                          class="mt-1"
                          formControlName="confirmPassword"
                          id="confirmPassword"
                          inputStyleClass="w-full"
                          styleClass="w-full"/>
              @if (securityForm.hasError('passwordsMismatch') && securityForm.get('confirmPassword')?.touched) {
                <div class="text-red-500 text-sm">{{'security.passwords_not_match' | translate}}</div>
              }
            </div>

            <div class="mt-6 flex">
              <p-button #validateSecurityFormButton
                        [disabled]="securityForm.invalid"
                        class="ml-auto"
                        type="submit">
                {{ 'common.save' | translate }}
              </p-button>
            </div>
          </form>
        }
      </div>
    </p-tabpanel>
  </p-tabpanels>

</p-tabs>

<p-confirmpopup styleClass="w-80"/>
