<header class="bg-gray-50 shadow-md">
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="flex items-center">
      <img alt="Key sell logo"
           class="max-h-[30px] mr-2"
           src="logo_ks.png">
      <span class="font-bold text-xl">Key Sell</span>
    </div>

    <nav class="hidden md:flex space-x-6 items-center">
      @if (userAccess.canShowRealEstates) {
        <a routerLink="/real-estates"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'real_estates.real_estates' | translate }}</a>
      }
      @if (userAccess.canShowPlanning) {
        <a routerLink="/planning"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'planning.planning' | translate }}</a>
      }
      @if (userAccess.canShowBuyers) {
        <a routerLink="/buyers"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'buyers.buyers' | translate }}</a>
      }
      @if (userAccess.canShowSellers) {
        <a routerLink="/sellers"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'sellers.sellers' | translate }}</a>
      }
      @if (userAccess.canShowUsers) {
        <a routerLink="/users"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'users.users' | translate }}</a>
      }
      @if (userAccess.canShowCalendarEvents) {
        <a routerLink="/calendar"
           class="hover:text-blue-300"
           routerLinkActive="bg-white text-blue-600 shadow-md px-4 py-2 rounded-lg"
           [routerLinkActiveOptions]="{ exact: true }">{{ 'calendar.calendar' | translate }}</a>
      }
      <div (click)="menu.toggle($event)" class="cursor-pointer flex items-center">
        @if (userIdentity || userRole) {
          <div class="flex flex-col mr-1">
            @if (userIdentity && userIdentity.length > 0) {
              <span>{{userIdentity}}</span>
            }
            @if (userRole) {
              <span class="text-sm font-bold text-end">{{userRole}}</span>
            }
          </div>
        }
        <p-avatar icon="pi pi-user"
                  shape="circle">
        </p-avatar>
        <p-menu #menu
                [popup]="true"
                [model]="menuItems">
          <ng-template #item let-item>
            <a pRipple class="flex items-center p-menu-item-link">
              @if (item.icon) {
                <span class="p-menu-item-icon" [class]="item.icon"></span>
              }
              @if (item.flag) {
                <img [src]="item.flag"
                     alt="Flag"
                     width="16">
              }
              <span class="ml-1 p-menu-item-label">{{ item.label }}</span>
            </a>
          </ng-template>
        </p-menu>
      </div>
    </nav>

    <button class="md:hidden text-2xl focus:outline-none"
      (click)="isMenuOpen = !isMenuOpen">
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <!-- Mobile Menu -->
  @if (isMenuOpen) {
    <div class="md:hidden bg-blue-700 text-white flex flex-col space-y-2 p-4">
      @if (userAccess.canShowRealEstates) {
        <a routerLink="/real-estates" class="hover:text-blue-300">{{'real_estates.real_estates' | translate}}</a>
      }
      @if (userAccess.canShowPlanning) {
        <a routerLink="/planning" class="hover:text-blue-300">{{'planning.planning' | translate}}</a>
      }
      @if (userAccess.canShowBuyers) {
        <a routerLink="/buyers" class="hover:text-blue-300">{{'buyers.buyers' | translate}}</a>
      }
      @if (userAccess.canShowSellers) {
        <a routerLink="/sellers" class="hover:text-blue-300">{{'sellers.sellers' | translate}}</a>
      }
      @if (userAccess.canShowUsers) {
        <a routerLink="/users" class="hover:text-blue-300">{{'users.users' | translate}}</a>
      }
      @if (userAccess.canShowCalendarEvents) {
        <a routerLink="/calendar" class="hover:text-blue-300">{{'calendar.calendar' | translate}}</a>
      }
      <p-avatar (click)="menu.toggle($event)"
                icon="pi pi-user"
                shape="circle"
                styleClass="cursor-pointer"></p-avatar>
      <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
    </div>
  }
</header>
