<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-sm bg-white shadow-lg rounded-lg p-6">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold">{{'auth.reset_password' | translate}}</h2>
    </div>

    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
      <div class="mb-4">
        <label for="email" class="block mb-1">{{'common.email' | translate}}</label>
        <input [(ngModel)]="email"
               [placeholder]="'auth.enter_email' | translate"
               class="w-full"
               id="email"
               name="email"
               pInputText
               required
               type="email"/>
      </div>

      <div class="flex justify-center mb-2">
        <p-button [label]="'auth.send_reset_password_email' | translate"
                  class="w-full"
                  styleClass="w-full"
                  type="submit"/>
      </div>

      <div class="flex justify-center">
        <p-button [label]="'common.back' | translate"
                  class="w-full"
                  icon="pi pi-arrow-left"
                  routerLink="../login"
                  styleClass="w-full"
                  variant="text"/>
      </div>
    </form>
  </div>
</div>
