<p-card>
  <ng-template pTemplate="title">
    <div class="flex flex-col items-center justify-between sm:flex-row">
      <h5 class="m-0">{{'buyers.buyer_list' | translate}}</h5>
      <div class="flex items-center">
        @if (isManagerOrAdmin) {
          <p-button (onClick)="openNew()"
                    [label]="'buyers.add_buyer' | translate"
                    class="mr-2 responsive-button"
                    icon="pi pi-plus"/>
        }
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="('common.search' | translate)" />
        </p-iconfield>
      </div>
    </div>
  </ng-template>
  <p-table #dt
           [globalFilterFields]="['lastName', 'firstName', 'email', 'phone']"
           [paginator]="true"
           [rowHover]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [value]="buyers"
           [currentPageReportTemplate]="'common.current_page_report_template' | translate"
           [rowsPerPageOptions]="[10, 25, 50]"
           sortField="id"
           dataKey="id"
           responsiveLayout="stack"
           stripedRows>
    <ng-template #header>
      <tr>
        <th pSortableColumn="id"><p-sortIcon field="id" /> {{'common.identifier' | translate}}</th>
        <th pSortableColumn="lastName"><p-sortIcon field="lastName" /> {{'common.last_name' | translate}}</th>
        <th pSortableColumn="firstName"><p-sortIcon field="firstName" /> {{'common.first_name' | translate}}</th>
        <th pSortableColumn="sex"><p-sortIcon field="sex" /> {{'common.gender' | translate}}</th>
        <th pSortableColumn="email"><p-sortIcon field="email" /> {{'common.email' | translate}}</th>
        <th>{{'common.phoneNumber' | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-buyer>
      <tr [attr.data-buyer-id]="buyer.id">
        <td>{{ buyer.id }}</td>
        <td>
          @if (items.length > 0) {
            <button (click)="selectedBuyer = buyer; menu.toggle($event)" class="text-blue-500 hover:text-blue-700 underline">
              {{buyer.lastName | uppercase}}
            </button>
            <p-menu #menu
                    [model]="items"
                    [popup]="true"
                    [appendTo]="'body'"/>
          } @else {
            {{ buyer.lastName | uppercase}}
          }
        </td>
        <td>{{ buyer.firstName }}</td>
        <td>{{ buyer.sex === 'M' ? ('common.man' | translate) : (buyer.sex === 'F' ? ('common.woman' | translate) : '')}}</td>
        <td>{{ buyer.email }} <i class="text-blue-500 hover:text-blue-700 cursor-pointer p-2 pi pi-copy" (click)="copyToClipboard(buyer.email)"></i></td>
        <td>{{ buyer.phone || ('common.not_specified' | translate) }} @if(buyer.phone){<i (click)="copyToClipboard(buyer.phone)" class="text-blue-500 hover:text-blue-700 cursor-pointer p-2 pi pi-copy"></i>}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-confirmpopup></p-confirmpopup>
