<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-sm bg-white shadow-lg rounded-lg p-6">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold">{{'auth.reset_password' | translate}}</h2>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="mb-4">
        <label for="username" class="block mb-1">{{'auth.username' | translate}}</label>
        <input [disabled]="true"
               [ngModel]="username"
               class="w-full"
               id="username"
               name="username"
               pInputText
               required/>
      </div>

      <div class="mb-4">
        <label for="password" class="block mb-1">{{'common.password' | translate}}</label>
        <p-password [(ngModel)]="password"
                    [feedback]="false"
                    [placeholder]="'auth.enter_password' | translate"
                    [toggleMask]="true"
                    id="password"
                    inputStyleClass="w-full"
                    name="password"
                    required
                    styleClass="w-full"
        ></p-password>
      </div>

      <div class="flex justify-center">
        <p-button class="w-full"
                  [label]="'auth.connect' | translate"
                  styleClass="w-full"
                  type="submit"/>
      </div>
    </form>
  </div>
</div>
