<div class="w-80">
  <form [formGroup]="buyerForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="lastName" class="block">{{ 'common.last_name' | translate }}</label>
      <input class="mt-1 p-2 w-full"
             formControlName="lastName"
             pInputText
             id="lastName"
             [placeholder]="'common.last_name' | translate"
             type="text">
      @if (buyerForm.get('lastName')?.invalid && buyerForm.get('lastName')?.touched) {
        <div class="text-red-500 text-sm">{{ 'common.last_name_required' | translate }}</div>
      }
    </div>

    <div class="mb-4">
      <label for="firstName" class="block">{{ 'common.first_name' | translate }}</label>
      <input class="mt-1 p-2 w-full"
             formControlName="firstName"
             pInputText
             id="firstName"
             [placeholder]="'common.first_name' | translate"
             type="text">
      @if (buyerForm.get('firstName')?.invalid && buyerForm.get('firstName')?.touched) {
        <div class="text-red-500 text-sm">{{ 'common.first_name_required' | translate }}</div>
      }
    </div>

    <div class="mb-4">
      <label class="block">{{ 'common.gender' | translate }}</label>
      <p-selectbutton [options]="sexOptions"
                      formControlName="sex"
                      id="sex"/>
    </div>

    <div class="mb-4">
      <label class="block">{{ 'common.preferred_language' | translate }}</label>
      <p-select [options]="preferredLanguageOptions"
                [placeholder]="'common.select' | translate"
                formControlName="preferredLanguage"
                id="sex"/>
    </div>

    <div class="mb-4">
      <label for="email" class="block">{{ 'common.email' | translate }}</label>
      <input class="mt-1 p-2 w-full"
             formControlName="email"
             pInputText
             id="email"
             [placeholder]="'common.email' | translate"
             type="email">
      @if (buyerForm.get('email')?.invalid && buyerForm.get('email')?.touched) {
        <div class="text-red-500 text-sm">{{ 'common.email_required' | translate }}</div>
      }
    </div>

    <div class="mb-4">
      <label for="email" class="block">{{ 'common.phoneNumber' | translate }}</label>
      <input class="mt-1 p-2 w-full"
             formControlName="phone"
             pInputText
             id="phone"
             [placeholder]="'common.phoneNumber' | translate">
    </div>

    <div class="mb-4">
      <label for="address" class="block">{{ 'common.address' | translate }}</label>
      <textarea [placeholder]="'common.address' | translate"
                class="mt-1 p-2 w-full"
                formControlName="address"
                id="address"
                pTextarea>
      </textarea>
    </div>

    <div class="mt-6 flex">
      <p-button [disabled]="buyerForm.invalid"
                class="ml-auto"
                type="submit">
        {{ 'common.validate' | translate }}
      </p-button>
    </div>
  </form>
</div>
