<form (ngSubmit)="onSubmit()"
      [formGroup]="taskForm"
      class="grid grid-cols-1 md:grid-cols-2 gap-4 md:w-[40rem]">

  <div>
    <label for="title" class="bloc">{{ 'common.title' | translate }} *</label>
    <input pInputText
           id="title"
           formControlName="title"
           [placeholder]="'common.title' | translate"
           class="p-inputtext w-full mt-1"/>
    @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
      <div class="text-red-500 text-sm">{{ 'common.title_required' | translate }}</div>
    }
  </div>

  <div>
    <label for="type" class="block">{{'tasks.task_type' | translate}}</label>
    <p-select [options]="taskTypes"
              appendTo="body"
              class="mt-1 w-full"
              formControlName="type"
              id="type"
              placeholder="{{ 'common.select' | translate }}"/>
  </div>

  <div>
    <label for="type" class="block">{{'common.status' | translate}}</label>
    <p-selectButton [options]="taskStatusOptions"
                    formControlName="status"/>
    @if (taskForm.get('status')?.invalid && taskForm.get('status')?.touched) {
      <div class="text-red-500 text-sm">{{ 'common.status_required' | translate }}</div>
    }
  </div>

  <div>
    <label for="users" class="bloc">{{'tasks.responsible' | translate}} *</label>
    <p-multiselect [options]="users"
                   appendTo="body"
                   class="mt-1"
                   display="chip"
                   formControlName="users"
                   placeholder="{{ 'common.select' | translate }}"
                   styleClass="w-full real-estates-task-form-responsible-multiselect"/>
    @if (taskForm.get('users')?.invalid && taskForm.get('users')?.touched) {
      <div class="text-red-500 text-sm">{{ 'tasks.responsible_required' | translate }}</div>
    }
  </div>

  <div class="flex gap-4 items-start md:col-span-2 lg:col-span-2 flex-col md:flex-row">
    <div class="flex flex-col">
      <label for="date">{{'common.date' | translate}} *</label>
      <p-datepicker [placeholder]="'common.date_picker_placeholder' | translate"
                    [appendTo]="'body'"
                    dataType="string"
                    dateFormat="dd.mm.yy"
                    formControlName="date"
                    inputId="date"
                    styleClass="mt-1 w-28">
      </p-datepicker>
      @if (taskForm.get('date')?.invalid && taskForm.get('date')?.touched) {
        <div class="text-red-500 text-sm">{{ 'common.date_required' | translate }}</div>
      }
    </div>

    <div class="flex flex-col">
      <label for="hour">{{'common.hour' | translate}} *</label>
      <p-datepicker [appendTo]="'body'"
                    [placeholder]="'common.hour_picker_placeholder' | translate"
                    [showTime]="true"
                    [timeOnly]="true"
                    formControlName="hour"
                    hourFormat="24"
                    inputId="hour"
                    styleClass="mt-1 w-28">
      </p-datepicker>
      @if (taskForm.get('hour')?.invalid && taskForm.get('hour')?.touched) {
        <div class="text-red-500 text-sm">{{ 'common.hour_required' | translate }}</div>
      }
    </div>

    <div class="flex flex-col">
      <label for="duration">{{'tasks.duration' | translate}}</label>
      <div class="flex items-center gap-1">
        <p-inputnumber [placeholder]="'tasks.duration' | translate"
                       [showButtons]="true"
                       class="mt-1"
                       formControlName="duration"
                       id="duration"
                       inputStyleClass="w-28"
                       min="1"/>
        {{'common.hours_suffix' | translate}}
      </div>
      @if (taskForm.get('duration')?.errors?.['required'] && taskForm.get('duration')?.touched) {
        <div class="text-red-500 text-sm">{{ 'tasks.duration_required' | translate }}</div>
      }
      @if (taskForm.get('duration')?.errors?.['min'] && taskForm.get('duration')?.touched) {
        <div class="text-red-500 text-sm">{{ 'tasks.duration_required_not_valid' | translate }}</div>
      }
    </div>
  </div>

  <div class="md:col-span-2 lg:col-span-2">
    <label for="description" class="bloc">{{'common.description' | translate}}</label>
    <textarea [placeholder]="'common.description' | translate"
              class="p-inputtextarea w-full mt-1"
              formControlName="description"
              id="description"
              pTextarea
              rows="4">
            </textarea>
  </div>

  <div class="flex">
    <p-button [disabled]="taskForm.invalid"
              class="ml-auto"
              type="submit">
      {{ 'common.validate' | translate }}
    </p-button>
  </div>

</form>
