<p-card>
  <ng-template pTemplate="title">
    <div class="flex flex-col items-center justify-between sm:flex-row">
      <h5 class="m-0">{{'real_estates.real_estate_list' | translate}}</h5>
      <div class="flex items-center">
        @if (userAccess.canEditRealEstate) {
          <p-button (onClick)="openNew()"
                    [label]="'real_estates.add_real_estate' | translate"
                    class="mr-2 responsive-button"
                    icon="pi pi-plus"/>
        }
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="('common.search' | translate)" />
        </p-iconfield>
      </div>
    </div>
  </ng-template>
  <p-table #dt
           [globalFilterFields]="['concatenedAddress', 'concatenedOwners', 'formatedType']"
           [paginator]="true"
           [rowHover]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [value]="realEstates"
           [currentPageReportTemplate]="'common.current_page_report_template' | translate"
           [rowsPerPageOptions]="[10, 25, 50]"
           sortField="id"
           dataKey="id"
           responsiveLayout="stack"
           stripedRows>
    <ng-template #header>
      <tr>
        <th pSortableColumn="id"><p-sortIcon field="id" /> {{'common.identifier' | translate}}</th>
        <th>{{'common.address' | translate}}<p-columnFilter type="text" field="concatenedAddress" display="menu" [locale]="locale"/></th>
        <th pSortableColumn="formatedType"><p-sortIcon field="formatedType" /> {{'real_estates.type' | translate}}
          <p-columnFilter field="type" matchMode="equals" display="menu" [locale]="locale">
            <ng-template #filter let-value let-filter="filterCallback">
              <p-dropdown (onChange)="filter($event.value)"
                          [ngModel]="value"
                          [options]="realEstateTypes"
                          [placeholder]="'common.select' | translate">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th pSortableColumn="surface"><p-sortIcon field="surface" /> {{'real_estates.surface' | translate}} <p-columnFilter type="numeric" field="surface" display="menu"  [locale]="locale"/></th>
        <th pSortableColumn="roomCount"><p-sortIcon field="roomCount" /> {{'real_estates.room_count' | translate}} <p-columnFilter type="numeric" field="roomCount" display="menu"  [locale]="locale"/></th>
        <th pSortableColumn="price"><p-sortIcon field="price" /> {{'real_estates.price' | translate}} <p-columnFilter type="numeric" field="price" display="menu" [useGrouping]="false" [locale]="locale"/></th>
        <th>{{'real_estates.owner_or_owners' | translate}}
          <p-columnFilter [showAddButton]="false"
                          [showMatchModes]="false"
                          [showOperator]="false"
                          display="menu"
                          [locale]="locale"
                          field="ownersDetails"
                          matchMode="owners">
            <ng-template #filter let-value let-filter="filterCallback">
              <p-multiSelect (onChange)="filter($event.value)"
                             [ngModel]="value"
                             [options]="owners"
                             [placeholder]="'common.select' | translate">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-realEstate>
      <tr [attr.data-real-estate-id]="realEstate.id">
        <td>{{ realEstate.id }}</td>
        <td>
          @if (items.length) {
            <button (click)="selectedRealEstate = realEstate; menu.toggle($event)"
                    class="text-blue-500 hover:text-blue-700 underline">
              {{ realEstate.address | formatAddress:('common.not_specified_female' | translate) }}
            </button>
            <p-menu #menu
                    [model]="items"
                    [popup]="true"
                    [appendTo]="'body'"/>
          } @else {
            {{ realEstate.address | formatAddress:('common.not_specified_female' | translate) }}
          }
        </td>
        <td>{{ realEstate.formatedType }}</td>
        <td>{{ realEstate.surface }}@if(realEstate.surface > 0) { m²}</td>
        <td>{{ realEstate.roomCount }}</td>
        <td>{{ realEstate.price }} {{ realEstate.priceCurrency }}</td>
        <td>
          @if (realEstate.ownersDetails?.length > 0) {
            @for (owner of realEstate.ownersDetails; track owner.value; let last = $last) {
              {{owner.label}}@if (!last) {, }
            }
          } @else {
            {{'common.not_specified' | translate}}
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-confirmpopup></p-confirmpopup>
