<p-card>
  <ng-template pTemplate="title">
    <div class="flex flex-col items-center justify-between sm:flex-row">
      <h5 class="m-0">{{'users.user_list' | translate}}</h5>
      <div class="flex items-center">
        @if (isAdmin) {
          <p-button (onClick)="openNew()"
                    [label]="'users.add_user' | translate"
                    class="mr-2 responsive-button"
                    icon="pi pi-plus"/>
        }
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" [placeholder]="('common.search' | translate)" />
        </p-iconfield>
      </div>
    </div>
  </ng-template>
  <p-table #dt
           [globalFilterFields]="['lastName', 'firstName', 'email']"
           [paginator]="true"
           [rowHover]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [value]="users"
           [currentPageReportTemplate]="'common.current_page_report_template' | translate"
           dataKey="id"
           responsiveLayout="stack">
    <ng-template #header>
      <tr>
        <th pSortableColumn="id">{{'common.identifier' | translate}} <p-sortIcon field="id" /></th>
        <th pSortableColumn="lastName">{{'common.last_name' | translate}} <p-sortIcon field="lastName" /></th>
        <th pSortableColumn="firstName">{{'common.first_name' | translate}} <p-sortIcon field="firstName" /></th>
        <th pSortableColumn="sex">{{'common.gender' | translate}} <p-sortIcon field="sex" /></th>
        <th pSortableColumn="email">{{'common.email' | translate}} <p-sortIcon field="email" /></th>
        <th pSortableColumn="role">{{'users.role' | translate}} <p-sortIcon field="role" /></th>
        <th pSortableColumn="isActive">{{'users.status' | translate}} <p-sortIcon field="isActive" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr [attr.data-user-id]="user.id">
        <td>{{ user.id }}</td>
        <td>
          @if (userAccess.canEditUsers && user.id > 1) {
            <button (click)="selectUser = user; menu.toggle($event)" class="text-blue-500 hover:text-blue-700 underline">
              {{user.lastName | uppercase}}
            </button>
            <p-menu #menu
                    [model]="items"
                    [popup]="true"
                    [appendTo]="'body'"/>
          } @else {
            {{ user.lastName | uppercase }}
          }
        </td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.sex === 'M' ? ('common.man' | translate) : (user.sex === 'F' ? ('common.woman' | translate) : '')}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <p-tag [value]="user.isActive ? ('users.activated' | translate) : ('users.not_activated' | translate)" [severity]="user.isActive ? 'success' : 'danger'" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-confirmpopup></p-confirmpopup>
